body{
    background-color :#f5b2b2;
}
h1{
    margin-bottom: 0;
}
.board{
    display: flex;
}
.column{
    display: flex;
    flex-direction: column;
}
.tile{
    width: 40px;
    height: 40px;
    border : 1px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.player{
    width: 80%;
    height: 80%;
    border-radius: 50%;
}
.player-1{
    background-color: #ff0000;
}
.player-2{
    background-color: #0000ff;
}

button, input[type="button"] {
    
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    margin-top: 5px;
    cursor: pointer;
}