.App {
  text-align: center;
  justify-content: center;
}
.Scope {
  text-align: center;
  justify-content: center;
}
.Function {
  text-align: center;
  justify-content: center;
}
.Destructuring{
  text-align: center;
  justify-content: center;
}